/* .header {
    display:flex;
    padding:10%
} */

/* * {
    background-color: red;
} */

.header {
    display: flex;
    justify-content: space-between;
    border-color:black;
    padding:2px;
    /* margin: 250px; */
    /* overflow: hidden;
    object-fit:contain */
    /* background-color: rgb(35, 35, 35); */
    background: rgb(33, 33, 33);
    background: linear-gradient(to bottom, grey black);
    color:yellow;
}

.header-logo img {
    max-width: 75%;
    max-height: 75px;
    border-radius: 50px;
    display:flex;
    
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */

}

iframe {
    border-radius: 15px;
    border-color:rgb(56, 56, 56);
    box-shadow: 0;
}

/* This container holds the image and links */
.header-container ul {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 5px;
 /*this will change top header*/
    flex-wrap: wrap;
}


.middle-container {
    display: flex;
    justify-content: center; /* Aligns children to the center */
    align-items: center;
    padding: 12%;
    background: black;
    color: gold;
    flex-direction: row;
    gap: 15px;
}

.middle-container button {
    background-color: black;
    border-style: ridge;
    border-color: gold;
    padding: 5px;
    margin: 5px;
}
/* 
.rainbow-odin iframe {
    display: flex;
    align-items: center;
    margin: 0;
    max-width: 500px;
    max-height: 300px;
} */

.middle-container p {
    font-size: 20px;
    width: 50%;
    overflow-wrap: break-word;
    display:flex
}

/* img {
    display:flex;
    max-width:100%;
    max-height: 100%;
    height: auto;
} */